{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'style4.css' %}">
  </head>
  <body>
    <h2>|| Hello welcome to the money tracker ||</h2>
    <a href="/signup"><button class="abtn">Signup</button></a>
    <p style="text-align: center;">Already have a account login here--</p>
    <a href="/login"><button class="abtn">Login</button></a>
  </body>
</html>